<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="backdrop" [ngStyle]="{'display':eventmodaldisplay}"></div>
<main id="chatmain">
  <p style="text-align:center;">
    <h1>Project work phase-II </h1>
    <h2>Implementation of chatbot</h2>

    <div id="container" class="container">
      <div id="chat" class="chat">
        <div id="messages" class="messages"></div>
        <input id="input" type="text" placeholder="Say something..." autocomplete="off" autofocus="true" />
      </div>
      <img src="assets/bot.png" alt="Robot cartoon" height="500vh">
    </div>
  </main>
