.action-img{width:20px;cursor:pointer;}
.action-img-div{border-radius: 50px;padding:0 10px 0;width:max-content;float:left;margin:0;}
.modal-body{padding:0!important;}
.modal .card-header{padding: 15px;font-weight:500;font-size:18px;}
.modal-close{top:13px;font-size:25px;}
.form-switch .form-check-input:focus{outline: 0; box-shadow: none;}
.table-hidden-row{display:none;border:0}
.table-hidden-row td{border:0;}

#reset{color:#fff;margin-left:10px;}
.star01 {width: max-content;margin:0px 10px 5px 0;border: 0;display: inline-block;}
.star01 .checkbox, .star01 .radio {margin: 5px 0px;}
.star01 input.faChkStr {width: 58px;height: 35px;margin-top: 0px;}
/* .star01 input.faChkStr {visibility: hidden;}
.star01 input[type="radio"], .star01 input[type="checkbox"] {display: none;} */
.checkbox input[type="checkbox"] {opacity: 0;}
.star01 input {cursor: pointer;}
.star01 .checkbox input[type="checkbox"]:checked + label {background-color: #e40079;color: #ffffff;}
.star01 .checkbox label {border: 1px solid #dddddd;padding:5px 8px;border-radius: 7px; width: 100%;}
.star01 label {margin-bottom: 0px;font-size: 12px;}
.checkbox label {display: inline-block;position: relative;padding-left: 5px; text-transform: capitalize;}
.star01 .checkbox label:before {visibility: hidden;}
.checkbox label::before {content: "";display: inline-block;position: absolute;width: 15px;height: 15px;left: 0;top: 2px;margin-left: -15px;border: 1px solid #b2bcc5;border-radius: 3px;background-color: #ffffff;-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;transition: border 0.15s ease-in-out, color 0.15s ease-in-out;}
.star01 .checkbox input[type="checkbox"]:checked + label::after {content: "\f00c";color: #ffffff;}
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome';content: "\f00c";}
.star01 .checkbox label:after {color: #5e646c;font-family: 'FontAwesome';content: "\f00c";position: relative;margin: 0px;top: 0px;float:left;}
.checkbox label::after {display: inline-block;position: absolute;width: 11px;height: 11px;left: 0;top: 1px;margin-left: -15px;padding-left: 2px;padding-top: 2px;font-size: 11px;color: #888888;}
.star01 .checkbox {padding-left: 0px;}
.my-pagination /deep/ .ngx-pagination li{padding: 5px; color:#777;font-weight: 600;}
.my-pagination /deep/ .ngx-pagination .current {background:#630460!important;border-radius:3px; color:#fff;padding: 4px 11px;}
.my-pagination /deep/ .ngx-pagination .pagination-previous a::before, .my-pagination /deep/ .ngx-pagination .pagination-previous::before{display:none;}
.my-pagination /deep/ .ngx-pagination .pagination-next a::after, .my-pagination /deep/ .ngx-pagination .pagination-next::after{display:none;}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{z-index:10;}

/* Users Tabs */
.users-tabs{border-bottom: 1px solid #e0e0e0;margin-top: 20px;}
.user-tab-content{border:1px solid #e0e0e0;padding: 25px;}
.users-tab-list{padding:10px 25px;width:max-content;cursor:pointer;font-weight:600;}
.users-tab-list.active{border:1px solid #e0e0e0;border-bottom:0;border-top-right-radius:5px;border-top-left-radius:5px;background-color:#e0e0e0;}
#pending-table .action-img-div{padding:0;}
#pending-table .action-img-div img{width:40px;}