<div class="backdrop" [ngStyle]="{'display':displayLogin}"></div>
<!-- <div class="demo"></div> -->


<header id="header" class="fixed-top align-items-center">
    <div class="container d-flex align-items-center">
        <span *ngIf="loggeduser" id='header-user-icon'>
            <span (click)='toggleHeaderMenu()' id='name_initials' class="tooltip" style='cursor:pointer;'> 
                {{f_nme}}{{l_nme}}
                <span class="tooltiptext">{{this.tk.first_name}} {{this.tk.last_name}}</span>
            </span>
            <ul id='user-action' *ngIf="classApplied == true">
                <li><a href='/profile'>My Profile</a></li>
                <hr />
                <li><a href='#' (click)='logOut()'>Logout</a></li>
            </ul>
        </span>
        <nav id="navbar" class="navbar">
            <ul [class.active]="classtoggle">
                <li><a href="/home">Home</a>
               </li>          
                <li *ngIf="!loggeduser"><a class="nav-link" (click)='openLoginModal()'>Login</a></li>

                <li *ngIf="loggeduser && role_name == 'Admin' || role_name == 'Mentor' || role_name == 'Mentee'"><a class="nav-link" href="/training/dasboard">Dashboard</a></li>
                <li *ngIf="loggeduser && role_name == 'Admin' || role_name == 'Mentor' || role_name == 'Mentee'"><a class="nav-link" href="/training/course">Course</a></li>
                <li *ngIf="loggeduser && role_name == 'Admin' || role_name == 'Mentor' || role_name == 'Mentee'"><a class="nav-link" href="/training/class">Class</a></li>
                <li *ngIf="loggeduser && role_name == 'Admin' || role_name == 'Mentor' || role_name == 'Mentee'"><a class="nav-link" href="/training/lesson">Lesson</a></li>
                <li *ngIf="loggeduser && role_name == 'Admin' || role_name == 'Mentor' || role_name == 'Mentee'"><a class="nav-link" href="/add-assessment">Assessment</a></li>
            </ul>
            
            <i class="bi bi-list mobile-nav-toggle" (click)="navToggleClass()"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<div class="modal" id="login_modal" [ngStyle]="{'display':displayLogin}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body clearfix">
              
                <div id="login_form" *ngIf='login'>
                    <span class='close modal-close' (click)='closeLoginModal()' data-dismiss="modal">&times;</span>
                    <div class="modal-title text-center">
                        <h4 class="welcome"><b><img src="assets/bot-mini.png" alt="">Admin Login</b></h4>
                    </div>
                    <form  name='addClassForm' role="form" #f="ngForm" (ngSubmit)="f.form.valid && userLogin(f)">
                        <div class='form-group col-md-12'>
                            <label for='email_id'>Email ID<span style="color: red;">*</span></label>
                            <input type='text' class='form-control' id='email_id' name="email" placeholder='Enter your Email ID' [(ngModel)]="userdetails.email" #email='ngModel' [pattern]="emailPattern" [ngClass]="{'invalid-data': email.invalid && f.submitted, 'valid-data': email.valid && f.submitted}"  required/>
                            <!-- <div class="error_msg"*ngIf="f.submitted && email.invalid"> -->
                            <div class="error_msg" *ngIf="email.errors && (email.dirty || email.touched || f.submitted)">
                                <div *ngIf="email.errors.required">
                                    <small class="error_text"> Email Id is required</small>
                                </div>
                                <div *ngIf="email.errors.pattern">
                                    <small class="error_text" > Email Id is invalid</small> 
                                </div>
                            </div>
                        </div>
                        <div class='form-group  col-md-12'>
                            <label for='your_password'>Password<span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input type='password' class='form-control' id='your_password' name="pass_word" [type]="hide ? 'password' : 'text'" placeholder='Enter your Password' [(ngModel)]="userdetails.pass_word" #pass_word='ngModel'  [ngClass]="{'invalid-data': pass_word.invalid && f.submitted, 'valid-data': pass_word.valid && f.submitted}" required />
                                <div class="input-group-addon">
                                    <i class="fa" [ngClass]="{'fa-eye-slash': !hide, 'fa-eye': hide}"   aria-hidden="true" (click)="toggleFieldTextType()"></i>
                                </div>
                            </div>
                            <div class="error_msg"
                            *ngIf="f.submitted && pass_word.invalid">
                                <div *ngIf="pass_word.errors.required">
                                    <small class="error_text"> Password is required</small>
                                </div>
                            </div>
                        </div>
                        <div class='form-group col-md-12'>
                            <label for='user_login'> &nbsp; </label>
                            <button class='btn btn-primary' style="width: 70%; margin: auto; display: block;" id='user_login'  >Login</button>
                            <!-- (click)='userLogin()' -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>