.modal-body{padding:0!important;}
.modal .card-header{padding: 15px;font-weight:500;font-size:18px;}
.modal-close{top:13px;font-size:25px;}
.backdrop{height:200vh;}
.modal-close{width: max-content;position: absolute;z-index: 1052;display: block;background-color: #60626f;opacity: 1;color: #fff;border-radius: 50px;padding: 5px 10px;}
h3{margin:15px 0;text-align:center;}
#add_event_btn{position: absolute;right: 15%; top: 30px;}
.calendar-parent-container{position:relative;}
.fc-daygrid-body .fc-daygrid-body-unbalanced{background-color:#825555;}
.modal-close{width: max-content;position: absolute;z-index: 1052;display: block;opacity: 1;color: #000;border-radius: 50px;padding: 5px 10px;}